@charset "utf-8";
/* CSS Document */
body {
    font-size: 12px;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    color: #666;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif, "Microsoft YaHei";
}

ol, ul {
    list-style: none
}

:focus {
    outline: 0
}

a img {
    border: 0
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

table {
    empty-cells: show
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

em {
    font-style: normal
}

button::-moz-focus-inner, input[type=reset]::-moz-focus-inner, input[type=button]::-moz-focus-inner, input[type=submit]::-moz-focus-inner, input[type=file] > input[type=button]::-moz-focus-inner {
    border: 0;
    padding: 0
}

/*自定义样式*/
.fl {
    float: left
}

.fr {
    float: right
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.disInline {
    display: inline-block;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}


/*footer*/

